<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Here at <%= title %>, we believe that security is important!<br>

    Contact us for booty! Or more!</p>

    Contact us for more information. </p>

  </body>
</html>
